.dragging {
  transition: none !important;
  border: 1px solid black;
}

.draggedGhost {
  background-color: blue;
  width: 200px;
}

#app {
  padding: 2vw 3vw;
}

/* for when 'Month' is active - sets both month/weekdays to the same grid-layout */
.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: clamp(10px, 5vw, 50px);
}

/* for when 'Today' is active - displays a grid of hourly times */
.timeGrid {
  height: 100vh;
  width: 30%;
  background-color: orange;
  display: grid;
}

.hourContainer {
  background-color: green;
  border-bottom: 1px solid black;
}

.weekDays {
  background-color: white;
  padding-bottom: 16px;
}

.monthDays {
  background-color: white;
}

.daysGrid > .day {
  padding: 16px 8px;
  border: 1px solid black;
}

.label {
}

.input {
}
