.dragging {
  transition: none !important;
  border: 1px solid black;
}

.draggedGhost {
  background-color: blue;
}

#app {
  padding: 2vw 3vw;
}

/* for when 'Month' is active - sets both month/weekdays to the same grid-layout */
.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: clamp(10px, 5vw, 50px);
}

/* for when 'Today' is active - displays a grid of hourly times */
.timeGrid {
  width: 30%;

  display: grid;
}

.hourContainer {
  border-bottom: 1px solid black;
  width: fit-content;
}

.weekDays {
  background-color: white;
  padding-bottom: 16px;
}

.monthDays {
  background-color: white;
}

.daysGrid > .day {
  padding: 16px 8px;
  border: 1px solid black;
}

.label {
}

.input {
}
