.dragging {
  transition: none !important;
  border: 1px solid black;
}

.draggedGhost {
  background-color: blue;
  width: 200px;
}

.topContainer {
  background-color: orange;
  width: 200px;
  height: 40px;
}
