.dragging {
  transition: none !important;
  border: 1px solid black;
}

.draggedGhost {
  background-color: blue;
  width: 200px;
}

#app {
  padding: 2vw 3vw;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.monthDays {
}

.daysGrid > .day {
  border: 1px solid black;
}

.label {
}

.input {
}
